<footer class="footer-padding">
  <div class="footer container">
    <div class="row">
      <div class="col-md-6 full-width">
        <p>Made with ❤️ by The App Brewery</p>
        <div class="col-md-6 text-right social-icons">
          <a href="https://facebook.com" target="_blank" aria-label="Facebook"
            ><i class="fa fa-facebook"></i
          ></a>
          <a href="https://twitter.com" target="_blank" aria-label="Twitter"
            ><i class="fa fa-twitter"></i
          ></a>
          <a href="https://instagram.com" target="_blank" aria-label="Instagram"
            ><i class="fa fa-instagram"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
</footer>
