<%- include("partials/header") %>

<div class="container main">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1">
      <h1>Contact</h1>
      <p><%= contactContent %></p>
    </div>
  </div>
</div>

<%- include("partials/footer") %>
